#header-nav.fixed-top {
    position: fixed;
    background: #303f9fc9 !important;
    padding-top: 0.36em;
    padding-bottom: 0.36em;
 
}

#header-nav.fixed-top a.newlink{
  color:rgb(234 217 217) !important;
}